# SPDX-FileCopyrightText: 2023 Red Hat GmbH <afrosi@redhat.com>
# SPDX-License-Identifier: GPL-2.0-or-later
attrs==22.2.0
certifi==2022.12.7
charset-normalizer==3.0.1
idna==3.4
iniconfig==2.0.0
packaging==23.0
pluggy==1.0.0
podman==4.4.0
pytest==7.2.1
pyxdg==0.28
requests==2.28.2
urllib3==1.26.14
waiting==1.4.1
